
<div class="tweet" data-tweet-id={{_id}} data-creator="{{creatorId}}">
  <p class="content">{{content}}</p>
  <p>Tweeted by {{creator}} at {{timeString}}</p>
  {{#if retweet}}
    <p>Retweeted from {{retweet}}</p>
  {{/if}}
  <a href="#" class="retweet">Retweet</a>
  {{#if userIsAuthor}}
    <a href="#" class="delete-tweet">Delete</a>
  {{/if}}
</div>
